/* Variables */
:root {
    --primary-color: #e21b70;
    --primary-font-color: #333333;
}

/* General Styling */
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',Arial,sans-serif;
    box-sizing: border-box;
}
.pink{
    color: var(--primary-color);
}

/* Header */
.hideHeader{
    box-shadow: -3px 11px 17px -7px rgb(0 0 0 / 12%);
}

.header{
    display: flex ;
    height: 64px;
}

.headerLogo {
    padding: 16px 24px 0;
    flex: 4;
}

.headerBtns{
    display: flex;
}

.headerLogin {
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-left: 1px solid #ececec;
}

.headerBtnLogin{
    text-decoration: none;
    align-items: center;
    display: flex;
}

.headerLoginIcon {
    padding-right: 8px;
}

.headerLoginTitle{
    color: black;
    font-size: 12px;
    font-weight: bold;
}

.headerCart {
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-left: 1px solid #ececec;
}

/* Hero Section */
.heroContainer{
    background: url("img/hero.png");
    padding: 120px 80px;
    background-size: cover;
    background-repeat: no-repeat;
}

.heroTitle{
    font-size: 40px;
    font-weight: 300;
    color: var(--primary-font-color);
    padding-bottom: 35px;
}

.heroColBtns{
    padding: 16px;
    background-color: white;
    box-shadow: 0 0.3rem 2rem rgb(0 0 0 / 10%);
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 960px;
    max-width: 1460px;
}

.heroInputAndIcon{
    display: flex;
    flex: 2;
    max-width: 552px;
}

.heroInput{
    height: 37px;
    padding: 15px 15px 12px 15px;
    border: 1px solid #dcdcdc;
    color: var(--primary-font-color);
    font-size: 14px;
    font-weight: 200;
    transition: all .15s;
    border-radius: 8px;
    width: 100%;
}

.heroIcon{
    margin-left: -40px;
    margin-right: 40px;
    margin-top: 20px;
    cursor: pointer;
}

.heroBtnContainer{
    flex: 1;
    display: flex;
}

.heroBtnSpacer{
    padding: 20px;
    font-size: 16px;
    color: var(--primary-font-color);
}

.HeroBtnDelivery{
    padding: 25px 55px;
    font-size: 14px;
    font-weight: normal;
    border-radius: 8px;
    font-family: "Open Sans";
}

.HeroBtnPick-Up{
    padding: 25px 55px;
    font-size: 14px;
    font-weight: normal;
    border-radius: 8px;
    font-family: "Open Sans";
}



/* Btn For All Sections */
.HeroBtnAll{
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 8px;
    font-family: "Open Sans";
    cursor: pointer;
}
.HeroBtnAll:hover{
    color: var(--primary-color);
    background-color: #fdf2f7;
    transition: color .2s cubic-bezier(.25,.46,.45,.94),background-color .2s cubic-bezier(.25,.46,.45,.94),border-color .2s cubic-bezier(.25,.46,.45,.94),box-shadow .2s cubic-bezier(.25,.46,.45,.94);
}
/* Btn For All Section Completed */

/* Title For All Section */
.titleContainerForAllSections{
    overflow: hidden;
    padding: 0px 80px;
    margin-top: -30px;
    position: relative;
}
.titleForAllSections{
    font-size: 160px;
    padding: 0;
    margin: 0 !important;
    color: #0000000A;
}
.subTitleForAllSections{
    color: var(--primary-font-color);
    font-size: 28px;
    font-weight: lighter;
    position: absolute;
    top: 47%;
    left: 5.5%;
    /* transform: translate(-50%,-50%); */
}
/* Title For All Section Completed */



/* Partners Section  */
.customTitleMarginsPartners{
    margin-top: -70px;
    margin-bottom: -60px;
    z-index: 0;
}
.partnersContainer{
    background: url("img/Partners.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 0px 80px;
    height: 432px;
    max-width: 100%;
    margin-bottom: 200px;
    display: flex;
    align-items: end;
    z-index: 3;
}

.cardPartners{
    padding: 32px;
    width: 100%;
    max-width: 532px;
    background-color: white;
    margin-bottom: -88px;
    box-shadow: 0 2px 28px 0 rgba(0,0,0,.12);
}
.titlePartnersCard{
    font-size: 24px;
    font-weight: lighter;
    color: var(--primary-font-color);
    margin: 0;
    margin-bottom: 28px;
    padding: 0;
}
.subTitlePartnersCard{
    font-size: 16px;
    font-weight: lighter;
    color: #767676;
    margin: 0;
    margin-bottom: 14px;
    padding: 0;
}
.HeroBtnGetStarted{
    width: 100%;
    height: 48px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 28px;
}
/* Partners Section Completed */

/* Citites Section */
.customTitleMarginsCities{
    margin-bottom: -82px;
}
.citiesContainer{
    padding: 0 80px;
}
.citiesCol{
    display: flex;
    justify-content: space-between;
}
.cardCitiesLahore{
    width: 233.3px;
    position: relative;
    text-align: center;
    color: white;
    /* width: 100%; */
    margin-bottom:  16px;
}
.citiesImage{
    height: 272px;
}
.citiesCardsText {
   position: absolute;
   top: 208px;
   left: 0px;
   font-size: 24px;
   padding: 16px;
   font-weight: bold;
   color: white;
   z-index: 3;
}
.cititesFirstLettter{
    top: 59px;
    bottom: 00px;
    right: 138px;
    color: #ff2b85;
    display: block;
    font-size: 200px;
    font-weight: 700;
    /* line-height: .52em; */
    position: absolute;
    opacity: 0;
    text-transform: uppercase;
    transition: opacity .3s;
}
.cardCitiesLahore:hover{
    cursor: pointer;
}
.cititesFirstLettter:hover{
    opacity: 1;
}
.citiesbutton{
    position: absolute;
    top: 220px;
    right: 0px;
}
.cities-Btn{
    padding: 15px;
    opacity: 0;
    transition: opacity .3s;
}
.cities-Btn:hover{
    opacity: 1;
}

/* Mobile Cards Slider */
.cardsSlider {
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(10, 30vw);
	grid-template-rows: 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	overflow: scroll;
	scroll-snap-type: both mandatory;
	scroll-padding: 1rem;
}

.active {
	scroll-snap-type: unset;
}

.cardslicitites {
	scroll-snap-align: center;
	display: inline-block;
	border-radius: 3px;
	font-size: 0;
    width: 50%;
}
/* Mobile Cards Slider Completed */
/* Citites Section Completed */

/* App Section */
.customTitleMarginsApp{
    margin-bottom: -61px;
    margin-top: 60px;
}
.appContainer {
    padding: 0 80px;
    background-color: var(--primary-color);
    height: 359px;
}
.appRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
.appCol1{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 80px 0;
    
}
.appCol2{
    width: 50%;
    background: url("img/App.webp");
    background-size: cover;
    background-position: center;
    height: 120%;
}
.appTitle{
    margin: 0;
    font-size: 28px;
    font-weight: 300;
    color: white;
}
.appSubTitle{
    font-size: 16px;
    font-weight: 300;
    color: white;
}
.appDownload{
    display: flex;
    justify-content: flex-start;
    padding-top: 80px;
}
.appDownloadIcon{
    margin:0 16px 16px 0;
}
/* App Section Completed*/

/* Office Section  */
.customTitleMarginsOffice{
    margin-top: 100px !important;
    margin-bottom: -60px;
}
.officeBg{
    background: url(img/office.webp);
}
/* Office Section Completed */
